<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
.logo{
    display: flex;
   align-items: center;
   margin-left: 100px;
}
.logo1 input{
    width: 500px;
    margin-left: 30px;
}
.logo1 button{
    margin-left: 20px;
    padding: 5px 15px;
    border-radius: 10px;

}

</style>
<body style="margin: 0;">
    <header>
        <div style=" display: flex; background-color: grey;">
            <div class="logo" style="">
                <img src="/images/logo.png"  width="50" style="background-color: grey;">
               
<form action="" >
    <input type="text" name="blogSearch" value="" style="margin-left: 200px;">
 
    <input type="submit" value="submit" style="margin-left: 20px;">
</form>
<a href="/viewMovie"><button style="margin-left: 20px;">reset</button></a>
<a href="/">add movie</a>
</div>
             <div>
                <button style="padding: 5px 15px; border-radius: 10px; margin-left:500px; margin-top: 10px;">sign in</button>
                
             </div>
            </div>
        </div>
    </header>
</body>
</html>